@import "layers/bases/b_normalize";

body {
	overflow: hidden;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

$component: 'global';
@import "themes";